.categories {
  margin-block: 2rem;
  margin-inline: 2rem;
  & h1 {
    color: light-dark(var(--code-bg), #e8dcc4);
  }
}
.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  & span {
    background-color: light-dark(var(--code-bg), var(--secondary));
    color: light-dark(#e8dcc4, var(--text));
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.3s;
  }
  & span:hover {
    color: light-dark(var(--text), var(--border));
  }
}
.definition {
  color: light-dark(var(--code-bg), #e8dcc4);
  margin-block: 4rem;
  margin-inline: 2rem;
  line-height: 1.8;

  & iframe {
    width: 100%;
    height: 460px;
    margin-block: 1rem;
    border: 2px solid light-dark(var(--code-bg), #e8dcc4);
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft outer glow */
  }
}
